<!DOCTYPE html>
<head>
  <title>Paper2LaTeX</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/p2l.css" rel="stylesheet">

    <link href="../static/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Paper2LaTeX</h1>
            <h3>Convert your graphs into LaTeX Code</h3>
            <br>
	    <form action="upload_photo" method="post" enctype="multipart/form-data">
	      <input type="file" id="upload" class="btn btn-dark btn-lg" name="img" accept="image/*" capture="camera" />
	      <input type="submit" class="btn btn-dark btn-lg"  value="Submit">
	    </form>
	</div>
    </header>
</body>

</html>
